{{ define "index.tmpl" }}
<html>
	<h1>
		{{ .title }}
	</h1>
  <ul>
  {{ range .values }}
    <li>{{ . }}</li>
  {{ end }}
  </ul>
  <form>
    <input type="text" />
    <button>Submit</button>
  </form>
  <script>
    const button = document.querySelector('button');
    const title = document.querySelector('h1');

    button.addEventListener('click', async (e) => {
      e.preventDefault();
      const inputText = document.querySelector('input').value;
      const result = await fetch('/people', {
        method: 'post',
        body: JSON.stringify({name: inputText})
      });
      if(result.status === 400) {
        const data = await result.json()
        return title.innerText = ":("
      }
      return document.location.reload()
    })
  </script>
</html>
{{ end }}